  .heading{
    font-size:23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
  }

  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
    padding:10px;
  }

  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }

  .result_para_tag span{
    white-space:pre-line;
  }

  .copy_right_footer{
    position:fixed;
    background-color:cyan;
    color:black;
    bottom:0;
    width:100%;
    line-height:3;
    text-align:center;
  }

  canvas{
    border:2px black solid;
    border-radius:20px;
    box-shadow:5px 5px 18px black;
    margin-top:150px;
  }